@charset "UTF-8";

:root{
    --cor-principal: rgb(170, 0, 0);
    --cor-secundaria: rgb(48, 48, 48);
    --cor-terciaria: rgb(102, 102, 102);
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}





/* CABEÇALHO */


header{
    background-color: var(--cor-principal);
    border-bottom: 1px solid rgb(185, 185, 185);
}

header > h1{
    text-align: center;
    font-size: 1.8em;
    padding: 10px;
    color: white;
}

header > p{
    text-align: center;
    font-style: italic;
    color: white;
}

header > nav{
    margin: auto;
    display: none;
    width: 98%;
    background-color: lightgray;
    padding: 2px;
}

header > nav > a {
    display: block;
    text-align: center;
    background-color: var(--cor-terciaria);
    margin-top: 3px;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

#assine{
    background-color: var(--cor-secundaria);
}

#entrar{
    background-color: var(--cor-principal);
}

#burguer {
    display: block;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
}





/* CORPO */

main{
    margin: auto;
    margin-bottom: 30px;
    width: 94vw;
    padding: 5px;
}

main > h2{
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 10px;
    text-indent: 20px;
}

#manchete-grande{
    overflow: hidden;
    height: 470px;
}

#manchete-grande > #noticia{
    height: 30%;
}

#manchete-grande > div > h3{
    padding: 5px;
    font-size: 1.4em;
}

#manchete-grande > div > h3 > a{
    text-decoration: none;
    color: black;
}

#manchete-grande > div > h3 > a:hover{
    text-decoration: underline;
}

#manchete-grande > div > p{
    padding: 5px;
    line-height: 1.2em;
    text-indent: 10px;
}

#manchete-grande > #imagem{
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 70%;
}

#manchete{
    overflow: hidden;
    height: 135px;
}

#manchete > #noticia{
    width: 60%;
    height: 100%;
    float: left;
}

#manchete > div > h3{
    padding: 5px;
    font-size: 1.1em;
}

#manchete > div > h3 > a{
    text-decoration: none;
    color: black;
}

#manchete > div > h3 > a:hover{
    text-decoration: underline;
}

#manchete > div > p{
    padding: 5px;
    line-height: 1.1em;
    text-indent: 10px;
}


#manchete > #imagem{
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 40%;
    height: 100%;
    float: right;
}

main > hr{
    margin: 30px 0;
}






/* RODAPÉ */



footer{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 10px;
}

footer > div#icones{
    width: 100%;
    text-align: center;
}

footer > div#icones > a{
    color: white;
}

footer > div#icones > a > i{
    padding: 15px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

footer > div#icones > a > #discord{
    padding: 16px 14px;
}

footer > div#icones > a > i:hover{
    background-color: white;
    color: black;
    transform: translateY(-4px);
    transition: transform 0.5s;
}

footer > p{
    margin-top: 5px;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

footer > p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
}









/* MEDIA QUERIES */

/*Telas com mais de 768px de largura*/
@media screen and (min-width: 768px) {
    header > nav > a:hover{
        text-decoration: underline;
    }

    #assine:hover{
        background-color: var(--cor-terciaria);
    }

    #entrar:hover{
        background-color: var(--cor-terciaria);
    }
}

/*Telas entre 768px e 992px de largura*/
/*Tablets e Telemoveis Grandes*/
@media screen and (min-width: 768px) and (max-width: 992px){

    #burguer{
        display: none;
    }

    header > nav{
        display: block;
        width: 100%;
        padding: 2px;
        background-color: var(--cor-principal);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    header > nav > a {
        display: inline-block;
        text-align: center;
        background-color: var(--cor-principal);
        margin-top: 3px;
        padding: 8px;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        font-weight: bold;
    }

    #assine{
        background-color: var(--cor-secundaria);
    }
    
    #entrar{
        background-color: var(--cor-principal);
        border: 1px solid white;
    }


    main{
        width: 90vw;
    }
    
    #manchete > #noticia{
        float: right;
    }
    
    #manchete > div > h3{
        text-indent: 10px;
    }
    
    #manchete > #imagem{
        float: left;
    }
}

/*Telas com mais de 992px de largura*/
/*Notebook, Desktop, TV*/
@media screen and (min-width: 992px){

    #burguer{
        display: none;
    }

    header > nav{
        display: block;
        width: 100%;
        padding: 2px;
        background-color: var(--cor-principal);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    header > nav > a {
        display: inline-block;
        text-align: center;
        background-color: var(--cor-principal);
        margin-top: 3px;
        padding: 8px;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        font-weight: bold;
    }

    #assine{
        background-color: var(--cor-secundaria);
    }
    
    #entrar{
        background-color: var(--cor-principal);
        border: 1px solid white;
    }

    main{
        margin: auto;
        margin-bottom: 30px;
        width: 50vw;
        padding: 5px;
    }
    
    main > h2{
        text-decoration: underline;
        margin-bottom: 15px;
        margin-top: 10px;
        text-indent: 20px;
    }
    
    #manchete-grande{
        overflow: hidden;
        height: 470px;
    }
    
    #manchete-grande > #noticia{
        height: 30%;
    }
    
    #manchete-grande > div > h3{
        padding: 5px;
        font-size: 1.4em;
    }
    
    #manchete-grande > div > h3 > a{
        text-decoration: none;
        color: black;
    }
    
    #manchete-grande > div > h3 > a:hover{
        text-decoration: underline;
    }
    
    #manchete-grande > div > p{
        padding: 5px;
        line-height: 1.2em;
        text-indent: 10px;
    }
    
    #manchete-grande > #imagem{
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 70%;
    }
    
    #manchete{
        overflow: hidden;
        height: 135px;
    }
    
    #manchete > #noticia{
        width: 60%;
        height: 100%;
        float: left;
    }
    
    #manchete > div > h3{
        padding: 5px;
        font-size: 1.1em;
    }
    
    #manchete > div > h3 > a{
        text-decoration: none;
        color: black;
    }
    
    #manchete > div > h3 > a:hover{
        text-decoration: underline;
    }
    
    #manchete > div > p{
        padding: 5px;
        line-height: 1.1em;
        text-indent: 10px;
    }
    
    
    #manchete > #imagem{
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 40%;
        height: 100%;
        float: right;
    }
    
    main > hr{
        margin: 30px 0;
    }
}