@charset "UTF-8";

@import url("medium.css");
@import url("large.css");

:root{
    --cor-principal: rgb(170, 0, 0);
    --cor-secundaria: rgb(48, 48, 48);
    --cor-terciaria: rgb(102, 102, 102);
}

@media screen and (min-width: 768px) {
    header > nav > a:hover{
        text-decoration: underline;
    }

    #assine:hover{
        background-color: var(--cor-terciaria);
    }

    #entrar:hover{
        background-color: var(--cor-terciaria);
    }
}
/*

XS: - 600px
S: 600px - 768px
M: 768px - 992px
L: 992px - 1200px
XL: 1200px -

*/